<apex:page controller="exampleCon">
  <apex:form >
      <apex:outputPanel id="counter">
          <apex:outputText value="Click me: {!count}"/>
          <apex:actionSupport event="onclick" action="{!incrementcounter}" rendered="counter" status="counterstatus"/>
      </apex:outputPanel>
      <apex:actionStatus id="counterStatus" startText="(incrementing)" stopText="(done)"/>
  </apex:form>
</apex:page>