<apex:page standardController="Candidate__c" extensions="CandidatePaging">
    <apex:form >
        <apex:pageBlock >
            <apex:sectionHeader title="candidate  List - {! canlist.pageNumber}"/>
            <apex:pageBlockButtons >
                <apex:commandLink action="{!canlist.first}" value="<"/>&nbsp;&nbsp;
                <apex:commandLink action="{!canlist.previous}" value="<<"/>&nbsp;&nbsp;
                <apex:commandLink action="{!canlist.next}" value=">>"/>&nbsp;&nbsp;
                <apex:commandLink action="{!canlist.last}" value=">"/>&nbsp;&nbsp;
            </apex:pageBlockButtons>
            
            <apex:pageBlockTable var="candidate" value="{!candidates}">  
                <apex:column value="{!candidate.name}" headerValue="candidateName"/>
            
            </apex:pageBlockTable>
            
        </apex:pageBlock>
    </apex:form>
  
</apex:page>